# beamer - latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.snm
*.nav
*.vrb
*.synctex.gz
*.fls
*.fdb_latexmk
*.xdv

# ignora pycache
__pycache__/

# .pytest_cache
.pytest_cache/

# htmlcov
htmlcov/
.coverage

# MacOSX
.DS_Store
